/* колір основного тексту color: #212121 */
/* колір контактів та параграфа color: #757575 */
/* колір логотипу color: #2196F3; color: #000000; */
/* колір логотипу внизу сторінки color: #2196F3; color: #FFFFFF;*/
/* колір адреси color: #FFFFFF;*/
/* колір контактів в підвалі color: rgba(255, 255, 255, 0.6);*/
/* основний колір фону #FFFFFF; */
/* колір фону півалу #2F303A; */

:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --footer-backgroung-color: #2f303a;
  --address-link: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/* Logo */
.header-logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Header contacts */
.contacts .contacts-link {
  color: var(--paragraph-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}
/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Portfolio */
.primary-title {
  display: none;
}
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-paragraph {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.footer {
  background-color: var(--footer-backgroung-color);
}
.footer-logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.address-hyperlink {
  color: var(--primary-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.address-link {
  color: var(--address-link);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
